.project_detail {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
}

.project_detail_container {
  width: 100%;
  margin: 15vh 12.5% 0 12.5%;
}

.project_detail_title {
  width: 100%;
  font-size: 3rem;
  font-weight: 900;
  height: 4rem;
  vertical-align: middle;
  display: flex;
  align-items: flex-end;
  margin: 2% 0 2% 0;
}

.project_detail_date {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  color: #777777;
  margin-left: 1%;
}

.project_detail_teammate {
  font-size: 1.5rem;
  font-weight: 700;
}

.project_detail_title_container {
  width: 100%;
}

.project_detail_desc_container {
  width: 100%;
}

.project_detail_subtitle {
  font-size: 1.1rem;
  font-weight: 700;
}

.project_detail_content {
  margin: 2% 0;
}
