.resume_left {
  background-color: #abd9ff;
  width: 100%;
  height: calc(1680px - 6mm);
  box-sizing: border-box;
}

.resume_left_name {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.resume_profile_image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.resume_left_profile {
  width: 300px;
  height: 300px;
  background-color: white;
  margin: 100px auto 50px auto;
  border-radius: 50%;
}

.resume_left_dept {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

.resume_left_features ul {
  text-align: left;
}

.resume_left_contact {
  text-align: center;
  margin: 120px 0 0 0;
}

.resume_left_contact ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: 20px;
  box-sizing: border-box;
}

.resume_left_contact li {
  display: flex;
  align-items: center;
  width: 70%;
  font-size: 18px;
  font-weight: 700;
}

.resume_left_contact_header {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 20px 0;
}
