.project_detail {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
}

.project_detail_container {
  width: 1200px;
  margin: 15vh auto 0 auto;
}

.project_detail_title {
  width: 100%;
  font-size: 50px;
  font-weight: 900;
  height: 70px;
  vertical-align: middle;
  display: flex;
  align-items: flex-end;
  margin: 2% 0 2% 0;
}

.project_detail_title_date_wrapper {
  min-width: 70%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.project_detail_title_wrapper {
  display: flex;
  align-items: flex-end;
}

.project_detail_date {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #777777;
  margin-left: 1%;
  align-items: flex-end;
}

.project_detail_title_container {
  width: 100%;
}

.project_detail_desc_container {
  width: 100%;
}

.project_detail_subtitle {
  font-size: 18px;
  font-weight: 700;
}

.project_detail_content {
  margin: 2% 0;
}

.project_detail_team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.project_detail_title_button {
  margin-left: 5%;
}

.project_detail_title_buttons {
  width: 30%;
  display: flex;
  justify-content: right;
  font-size: 16px;
  color: #777777;
}

.project_detail_title_buttons_container {
  display: flex;
  justify-content: right;
  width: 100%;
}
