.blockchain_sub_menu {
  width: 100%;
  height: 30px;
  background-color: red;
  display: flex;
}

.blockchain_sub_menu_button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
