.projects {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
}

.projects_center {
  margin: 15vh 12.5% 0 12.5%;
  width: 100%;
}

.projects_center_wrapper {
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
  justify-items: center;
}

.projects_post_card_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

.projects_action_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 0 3% 0;
}

.projects_total {
  display: flex;
  justify-content: right;
  margin: 0 5% 1% 0;
}
